<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedirLink</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/assets/style.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/assets/copyLink.js" defer></script>
</head>
<body style="background-color: #283044;">
    <div class="header">
        <div class="left">
            <a href="/" class="headertitle">RedirLink</a>
        </div>
        
        <div class="right">
            <a href="/logout" class="logoutBtn" style="padding-left: 1rem;"> 
                <i class="fa fa-sign-out fa-2x" aria-hidden="true" style="color: #283044;"></i>
            </a>
        </div>
    </div>

    <div class="container-sm" style="color: #EBF5EE;">
        <div class="content-title" style="text-align: center; align-self: center;">
            <h3 style="text-decoration: underline; padding-top: 5rem;">Your Shortened URL</h3>
            <h5>Copy the shortened link to your clipboard</h5>
        </div>

        <div class="content-center">
            <input type="text" class="shortLink" id="shortenlink" value="<%= pass.data %>">
            <button class="copyBtn" id="copyButton">COPY</button>
        </div>
        <a class="text" href="/" style="color: #c3d1c7; padding-left: 27rem;">Create Other Shortened Link</a>
    </div>

    <div class="footer fixed-bottom" style="background-color: #78A1BB; padding: 1rem;">
        <h5 class="footertext" style="padding-left: 3rem; color: #EBF5EE;">Made by Rizky & Veli</h5>
    </div>
</body>
</html>